/* #0C1C2D */
/* #8B3815 */
/* #F8D8B0 */
/* #2A5898 */

/* HIDDING */

.test {
  display: none !important;
}

#nav-desktop {
  display: none;
}

#header-content-desktop {
  display: none;
}

/* NAVBAR MOBILE */

#nav-mobile {
  position: fixed;
  top: 0;
  display: flex;
  background-color: #0c1c2d;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 15px;
  z-index: 200;
  height: 55px;
}

#left-nav-mobile i {
  font-size: 25px;
}

#right-nav-mobile i {
  font-size: 20px;
}

#nav-mobile img {
  width: 130px;
}

.btn-subscribe {
  background-color: #8b3215;
  border: solid 1px black;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
}

#right-nav-mobile {
  display: flex;
  align-items: center;
}

/* MENU BURGER */

#burger-menu {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c1c2d;
  z-index: 30;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top: solid 1px #132b43;
}

#search-box {
  display: flex;
  flex-direction: row;
  border: 1px solid #374669;
  border-radius: 16px;
  background: #fff;
  align-items: center;
  overflow: hidden;
  height: 40px;
}

#search-box #input-search-box {
  outline: none;
  border: none;
  background: none;
  font-size: 1em;
  padding: 0.5em;
  color: inherit;
  flex: auto 1 1;
  width: 100%;
  background: none;
  background-color: transparent;
}

#input-search-box::placeholder {
  color: lightgray;
}

#search-box i {
  padding: 10px;
  font-size: 22px;
  color: lightgray;
}

.burger-menu-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.burger-menu-links a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.burger-menu-links a:hover {
  background-color: #2a5898;
  border-radius: 8px;
}

#btn-menu-burger:hover {
  cursor: pointer;
}

/* UNDER NAV */

#under-nav {
  position: fixed;
  top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 45px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  border-bottom: solid 1px lightgray;
  z-index: 30;
}

#under-nav p a {
  color: black;
  text-decoration: none;
}

#under-nav a {
  color: #2a5898;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: sans-serif;
}

#under-nav i {
  font-size: 20px;
}

/* BREADCRUMB */

ul.breadcrumb {
  list-style: none;
  font-family: sans-serif;
  display: flex;
  gap: 5px;
  padding: 15px;
  margin-top: 100px;
}
ul.breadcrumb li {
  font-size: 14px;
}

ul.breadcrumb li a {
  color: darkgray;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: gray;
  text-decoration: none;
}

/* MAIN CONTENT */

main {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* TAG */

.tag {
  background-color: #f8d8b0;
  font-weight: bold;
  font-family: sans-serif;
  padding: 3px 5px 3px 5px;
  border-radius: 10px;
  align-self: flex-start;
}

/* HEADER CONTENT */

#header-content-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#title-action {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.btn {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  color: #2a5898;
  border: solid 1px lightgray;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  background-color: #2a589825;
}

#title-action a i {
  font-size: 18px;
}

#title-action h1 {
  font-size: 24px;
  font-weight: bold;
}

#sous-titre {
  font-size: 16px;
}

.surnom {
  color: gray;
  font-style: italic;
  font-size: 12px;
}

.links-sources {
  font-size: 12px;
  font-family: sans-serif;
}

.links-sources a {
  color: #2a5898;
}

.links-sources#last-updated a {
  text-decoration: none;
}

/* TABLE OF CONTENT */

#table-of-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  color: #2a5898;
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
}

#table-of-content:hover {
  background-color: #2a589825;
  cursor: pointer;
}

#table-of-content i {
  font-size: 24px;
  color: #2a5898;
}

#table-of-content h2 {
  font-size: 16px;
  font-weight: bold;
}

/* LISTEN  */

section#listen {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.15);
}

#listen #left-listen {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
}

#info-bulle {
  position: absolute;
  right: 0;
  top: 0;
}

#listen #equalizer,
#listen #play-circle {
  font-size: 50px;
}

#listen #equalizer {
  color: lightgray;
}

#info-bulle {
  color: dodgerblue;
  font-size: 16px;
}

#left-listen #min {
  color: gray;
}

/* CARD  */

#card {
  border: solid 1px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  font-size: 14px;
}

#photo-card {
  border: solid 1px lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  width: 100%;
  position: relative;
}

#photo-card img {
  border-radius: 10px 10px 0px 0px;
  max-height: 300px;
  object-fit: cover;
}

#loupe {
  color: #2a5898;
  font-size: 20px;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
}

#photo-card figcaption {
  padding: 10px;
  font-family: sans-serif;
}

#all-media {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #2a5898;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid lightgray 1px;
  padding-bottom: 20px;
}

#text-card {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;
}

#text-card #born {
  display: flex;
  gap: 5px;
}

#text-card a {
  color: #2a5898;
  text-decoration: none;
}

#card .btn {
  align-self: center;
}

#card .btn i {
  font-size: 22px;
}

#text-page {
  font-size: 18px;
}

#text-page a {
  color: #2a5898;
}

.a-dotted {
  text-decoration-style: dotted;
}

#card-and-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
